body {
  width: 900px;
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
  
}

h1, h2, h3, h4, h5, h6 {
  font-family: Verdana, sans-serif;
}

header {

  background-color: white;
  text-align: center;
  background-image:
      linear-gradient(75deg, white 50%, white 50%, red);
  background-image:
      -moz-linear-gradient(75deg, white 50%, white 50%, red);
  background-image:
      -webkit-linear-gradient(75deg, white 50%, white 50%, red);
  width: 900px;
  height: 90px;
  margin: auto;
  
  position: fixed;
  top: 0;

}
img#logo {
  float: left;
  border-radius: 50%;
  margin-top: .3em;

}

img#sdcz {
  float: right;
  margin-left: 1em;
}

img#sdcz-istorija {
  margin-right: 1em;
  float: left;
}

img#navijaci {
  float: right;
  margin-left: 1em;
}

img#fkcz {
float: left;
margin-right: 1em;
}

img#tim_91 {
  margin-right: 1em;
  float: left;
}

h1 {
  color: red;
  text-align: center;
  font-size: 1.4em;
  font-weight: 900;
  float: left;
  margin-left: 2em;
  padding-bottom: 1em;

}

nav {
  width: 900px;
  height: 55px;
  position: fixed;
  top: 90px;
  background-color: red;
  border-top: 4px solid #01458E;
  border-bottom: 10px solid white;
}

#meni li {
  list-style-type: none;
  float: left;
  width: 8em;
  text-align: center;
  background-color: red;
  color: white;
  font-weight: 700;
  margin-left: .5em;
}

#meni li:hover {
  background-color: white;
  color: red;
}

#meni a {
  display: block;
  color: white;
  text-decoration: none;
}

#meni a:hover {
  background-color: white;
  color: red;
  height: 2.2em;
}

#meni li ul {
  display: none; 
  font-size: .9em;
  padding: 0;
}

#meni li:hover > ul {
  display: block;
}
  
section {
  float: left;
  width: 640px;
  clear: left;
  height: auto;
  padding-right: .5em;
  margin-bottom: 4em;
  margin-top: 10em;
  text-align: justify;
}

p {
  text-indent: 2em;
}

a img:hover {
  opacity: .7;
}

#sideBar {
  float: left;
  width: 240px;
  height: auto;
  padding-left: .7em;
  margin-top: 10em;
  overflow: auto;  
}

.link li {
  list-style-type: none;

}

.link li a {
  font-size: 1.1em;
  color: red;
  text-decoration: none;
}

.link li a:hover {
    text-decoration: underline;
}

.link li a:visited {
    color: #990000;
}

footer {
  width: 900px;
  height: 20px;
  text-align: center;
  background-color: red;
  margin: auto;
  padding-bottom: 1em;
  padding-top: .5em; 
  position: fixed;
  clear: both;
  bottom: 10px;
}

.footer {
  width: auto;
  display: inline;
  color: white;
  margin-left: 3em; 
}

.footer a {
  text-decoration: none;
  color: white;
  font-weight: 900;
}

#footer1 {
  width: 900px;
  height: 7px;
  text-align: center;
  background-color: #01458E;
  color: white;
  font-size: .7em;
  padding-bottom: .5em;
  padding-top: .5em;
  position: fixed;
  clear: both;
  bottom: 0;


}